@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  color: #333;
  overflow-x: hidden;
  position: relative;
}

html,
body {
  overflow-x: hidden;
  height: 100%;
}

/* REUSABLE */
.text {
  font-weight: 300;
}

.text--sm {
  font-size: 1.4rem;
}

.text--xs {
  font-size: 1.2rem;
}

.img {
  max-width: 100%;
  object-fit: cover;
  display: block;
}

.link {
  color: #333;
  text-decoration: none;
}

.link--underline {
  text-decoration: underline;
}

.list {
  list-style: none;
}

.icon {
  width: 3rem;
  height: 3rem;
}

.icon--lg {
  width: 4.4em;
  height: 4.4rem;
}

.icon--sm {
  width: 1.8rem;
  height: 1.8rem;
}

.btn {
  border-radius: 4.8rem;
  font-weight: 700;
  border: none;
  padding: 1.6rem 3.2rem;
  font-size: 1.4rem;
}

.btn--sm {
  padding: 0.8rem 1.6rem;
  font-size: 1.4rem;
}

.btn:disabled {
  opacity: 0.5;
}

.btn--primary {
  background-color: #0e8388;
  color: #fff;
}

.btn--secondary {
  background-color: #fff;
  border: 1px solid #000;
}

.heading--primary {
  font-size: 3.6rem;
  font-weight: 500;
}

.heading--secondary {
  font-size: 2.8rem;
  font-weight: 500;
}

.heading--tertiary {
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
}

.section {
  padding: 3.2rem 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-container {
  padding: 0.8rem;
}

.input {
  position: relative;
  padding: 1.6rem 3.2rem;
  width: 100%;
  border-radius: 0.8rem;
  border: 0.1px solid #333;
  background: #fff;
}

.input::before {
  position: absolute;
  content: "";
  display: block;
  top: 0;
  left: 0;
  width: 1.8rem;
  height: 1.8rem;
  background-color: red;
}

/* HEADER */
.header {
  position: relative;
  height: 100px;
  padding: 0 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
}

.header-nav {
  display: flex;
  gap: 1.6rem;
}

.logo {
  width: 80px;
}

.hamburger-icon {
  background: none;
  border: none;
}

.header-side-nav {
  position: absolute;
  overflow: scroll;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0 1.6rem;
  background-color: #fff;
  transform: translateX(100%);
  transition: 300ms all ease-in;
}

.header-side-nav.open {
  transform: translateX(0%);
}

.side-nav-top {
  position: relative;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.side-nav-actions {
  display: flex;
}

.side-nav-list {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  padding: 3.2rem 0;
  border-bottom: 1px solid #ddd;
  font-weight: 300;
}

.side-nav-list-heading a {
  font-weight: 700;
}

.side-nav-list:last-child {
  padding: 6.4rem 0;
  border: none;
}

.side-nav--btn {
  padding: 1.2rem 3.2rem;
  border: 1px solid rgba(51, 51, 51, 0.5);
}

/* CTA SECTION */

.section-cta {
  gap: 3.2rem;
}

.btn-container {
  display: flex;
  gap: 1.6rem;
}

/* BENEFITS SECTION */

.section-benefits {
  background-color: #eff5f6;
  padding: 8rem 1.6rem;
  gap: 6.4rem;
}

.benefits-container {
  display: flex;
  flex-direction: column;
}

.benefits-container > .heading--tertiary,
.benefits-container > .heading--secondary {
  text-align: center;
}

.benefits-list {
  padding: 1.6rem 0;
}

.benefits-list li {
  display: flex;
  align-items: flex-start;
  gap: 0.8rem;
  padding-bottom: 1.6rem;
}

.benefits-list-text {
  display: flex;
  flex-direction: column;
}

.benefits-list-heading {
  font-weight: 700;
}

.section-benefits .btn-container {
  gap: 3.2rem;
  padding: 0.8rem 0;
}

.benefits-link-btn {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

/* TESTIMONIALS SUB-SECTION */

.testimonials {
  position: relative;
  width: 100%;
}

.testimonials-container {
  display: flex;
  transform: translateX(0%);
  transition: all 0.3s ease-in;
}

.testimonial-item {
  flex: 1 0 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 1.6rem;
  gap: 3.2rem;
}

.img--profile {
  width: 10rem;
  height: 10rem;
  border-radius: 100%;
  transition: all 0.3s ease-in 0.3s;
  /* transform: scale(0.5); */
}

.testimonial-item .img--profile {
  transform: scale(0.5);
}

.testimonial-item.selected .img--profile {
  transform: scale(1);
}

/* .testimonials-controls {
  position: absolute;
  bottom: 0;
} */

.testimonials-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
  padding: 3.2rem 0;
}

.testimonial-btn {
  border-radius: 50%;
  display: flex;
  padding: 3px;
  align-items: center;
}

.testimonial-btn .icon {
  height: 2rem;
  width: 2rem;
}

.indicators {
  display: flex;
  gap: 0.8rem;
}

.indicators span {
  width: 1rem;
  height: 1rem;
  background-color: none;
  border-radius: 50%;
  border: 1px solid #333;
}

.indicators span.selected {
  background-color: #333;
}

/* RIDE SECTION */

.section-ride {
  padding: 8rem 0rem;
  padding: 8rem 1.6rem;
  gap: 6.4rem;
}

.img-ride {
  width: 65%;
}

.ride-list-container {
  padding-top: 3.2rem;
  text-align: center;
}

.ride-list-container > .heading--secondary {
  padding-bottom: 1.6rem;
}

.ride-list {
  padding: 1.6rem 0;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.ride-list li {
  display: flex;
  align-items: flex-start;
  gap: 0.8rem;
  padding-bottom: 1.6rem;
}

.section-ride .btn-container {
  gap: 3.2rem;
  padding: 0.8rem 0;
}

/* RIDE BENEFITS SUB-SECTION */

.ride-benefits-container > .heading--secondary {
  padding-bottom: 1.6rem;
}

.conditions-text {
  padding-top: 1.6rem;
  font-size: 1.4rem;
}

/* RIDE CAROUSEL SUB-SECTION */

.ride-carousel {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  width: 100%;
}

.ride-outer-carousel-container {
  padding: 0 3.2rem;
}

.carousel-btn-container {
  display: flex;
  justify-content: center;
  gap: 6.4rem;
}

.btn-carousel {
  border-radius: 50%;
  padding: 0.8em;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.btn-carousel:nth-child(1) {
  background: none;
}

.btn-carousel:disabled {
  opacity: 0.5;
}

.btn-carousel:nth-child(2) {
  background-color: #0e8388;
}

.btn-carousel .icon-complete {
  display: none;
  opacity: 0;
  visibility: hidden;
}

.btn-complete .icon {
  display: none;
  opacity: 0;
  visibility: hidden;
}

.btn-complete .icon-complete {
  display: block;
  opacity: 1;
  visibility: visible;
}

.ride-carousel-container {
  padding-top: 6.4rem;
  display: flex;
  gap: 0.8rem;
  transform: translateX(0%);
  transition: 0.3s all ease-in;
  width: 100%;
}

.ride-carousel-item {
  padding: 3.2rem;
  border-radius: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 0.1px solid rgba(221, 221, 221, 0.5);
  flex: 1 0 auto;
  height: auto;
  gap: 3.2rem;
  box-shadow: 0rem 0.8rem 8px -5px #ddd;
}

.img--ride-carousel {
  max-height: 6.4rem;
  align-self: center;
}

.ride-availability-text {
  text-align: center;
}

/* FORM SECTION */

.section-estimate-form {
  align-items: stretch;
  background-color: #b7dadb;
  /* display: flex; */
  gap: 3.2rem;
}

.estimate-form {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.estimate-form .btn-container {
  align-items: flex-start;
}

.input--icon {
  background: url("./assets/icons/circle.svg") no-repeat 10px;
  padding-left: 4.8rem;
  background-size: 20px;
  background-color: #fff;
}

.estimate-form .btn {
  box-shadow: 0px 2px 0.7rem 0px #777;
  background-color: #fff;
}

/* SAFETY SECTION */

.section-safety {
  gap: 3.2rem;
  align-items: flex-start;
  text-align: left;
}

.section-safety > .benefits-container {
  gap: 0.8rem;
}

.section-safety .heading--secondary {
  margin-bottom: 0.8rem;
}

.section-safety > .benefits-container > * {
  text-align: start;
}

.section-safety .btn-container {
  align-items: start;
}

/*  SECTION ACCESSIBILITY */

.section-accessibility {
  padding: 8rem 1.6rem 6.4rem 1.6rem;
  background: none;
}

.heading-accessibility {
  font-size: 2.4rem;
}

.accessibility-container {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.accessibility-container .btn-container {
  align-items: start;
}

/* SECTION BUSINESS */
.section-business {
  padding: 8rem 1.6rem;
  background-color: #eff5f6;
  align-items: center;
  gap: 1.6rem;
  text-align: center;
}

.business-heading-container {
  text-align: center;
  overflow: hidden;
}

.business-heading-keyword {
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: transform 0.3s ease-in, opacity 0.4s ease-in;
  transform: translateY(0%);
}

.business-heading-keyword.show {
  opacity: 1;
  height: auto;
}

.business-heading-keyword.slide {
  transform: translateY(100%);
}

.business-brands-carousel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8rem;
}

.brands-carousel-items {
  display: flex;
  transform: translateX(0%);
  transition: all 0.3s ease-in;
}

.brands-carousel-item {
  display: flex;
  flex: 1 0 100%;
  justify-content: center;
}

.img-brand {
  width: 100%;
  height: 4.8rem;
}

.brand-carousel-controls {
  display: flex;
  justify-content: center;
  gap: 3.2rem;
}

.brands-btn:focus {
  background: #d7dddd;
}

.brands-btn:disabled {
  opacity: 0;
}

/* FOOTER */

.footer {
  padding: 1.6rem;
}

.collapsible-item {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ddd;
}

.btn--collapsible {
  padding: 2.4rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: none;
  border: none;
}

.collapsible-nav-list {
  max-height: 0;
  overflow: hidden;
}

.collapsible-nav-list.open {
  max-height: 100%;
  overflow: auto;
}

.collapsible-nav-list li {
  padding: 1.6rem 0;
  font-weight: 300;
}

.footer-bottom-nav {
  padding: 2.4rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3.2rem 0;
  gap: 1.6rem;
  border-bottom: 1px solid #ddd;
}

.social-media {
  display: flex;
  gap: 1.6rem;
}

.bottom-nav-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1.6rem;
  font-size: 1.1rem;
  font-weight: 300;
}

.bottom-nav-list {
}
